<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <preference for="TT\Kernel\Events\EventManagerInterface" type="TT\Kernel\Events\EventManager"/>

    <type name="TT\Kernel\Events\EventManager">
        <arguments>
            <argument name="subscribers" type="array">
                <item name="kernel.container.configure" type="array">
                </item>
            </argument>
        </arguments>
    </type>

    <type name="TT\Kernel\Factories\ConsoleFactory">
        <arguments>
            <argument name="commands" type="array">
                <item name="clear_cache" type="object">TT\Kernel\Console\CacheClear</item>
            </argument>
        </arguments>
    </type>
</config>
